body{
	background-color:grey;
}
.bg-image {
  /* The image used */
  background-image: url("bgimage.jpg");

  /* Add the blur effect */
  filter: blur(10px);
  -webkit-filter: blur(10px);

  /* Full height */
  height: 90%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.topnav {
  overflow: hidden;
 background-image: linear-gradient(to right, #0f0c29, #302b63, #24243e);
  width: 60%;
    display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left:20%;
  border-radius: 5px;
}


.topnav a {
  float: left;
 
  color: #A4E9D5;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 35px;
  font-weight:500;
  width:100%;
  

}


.topnav s{
	
  color: #A4E9D5;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 35px;
  font-weight:500;
  width:15%;
}


.topnav a:hover {
	
  color: #22577A;
}


.DodajProdukt {

  height:86%;
  
border-radius: 25px;
  color: white;
  font-weight: bold;
  position: absolute;
  top: 53%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 50%;
  margin-top:10px;
  padding: 10x;
  text-align:center;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.8); /* Black w/opacity/see-through */
}
  
  .DodajProdukt h1 {
	color:Orange;
	text-align:Center;
  }
  
  .DodajProdukt p {
	  color:lightblue;
	  text-align:center;
	  font-size:30px;
  }
    .DodajProdukt   {
	  text-align:center;
  }
  
 .numer{
	 width: 60px;
 background-color: grey; /* Fallback color */
  background-color: rgba(0,0,0, 0.7); /* Black w/opacity/see-through */
   font-size:20px;
  height:40px;
  color:white;
 }
 
 .powieksz{
	 width:350px;
	   background-color: grey; /* Fallback color */
  background-color: rgba(0,0,0, 0.7); /* Black w/opacity/see-through */
  color:white;
  height:40px;
  font-size:20px;
	
 }
 



 .submit{
	 background-image: linear-gradient(to right, #8e2de2, #4a00e0);
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  border: 1px solid;
  margin: 4px 2px;
  opacity: 1;
  transition: 0.2s;
  display: inline-block;
  text-decoration: none;
 cursor: pointer;
	border-radius:10px;}
	
	
  .submit:hover {opacity: 0.6}
 

 .center {
	position: absolute;
	margin-top:20%;
	left: 50%;
	transform: translate(-50%, -50%);
	max-height:500px;
	text-align:center;
}
 table {
	width: 800px;
	border-collapse: collapse;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0,0,0,0.1);
	border: solid 1px;

}

 td {
	padding: 20px;
	background-color: rgba(255,255,255,0.3);
	color: #;
	border: solid 1px;
	
}

 th {
	padding: 20px;
	background-color: rgba(255,255,255,0.1);
	color: #;
	border: solid 1px;
	
}
 
 #wyswietlanie{
	margin: 0;
	background-image: linear-gradient(to right, #DECBA4, #3E5151);
	font-family: sans-serif;
	font-weight: 100;
	
}

  .numer2{
	 width: 50px;
 background-color: grey; /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
   font-size:20px;
  height:40px;
  color:white;
 }
 
 .sprzedaj {
	 color:white;
 }
 
 .h1_1{
	 text-align:center;
	 color:white;
 }
 